body
{
  min-width: 320px;
}
.parkingArea
{
  background-color:black;
  width:40%;
  height: 100%;
  margin-left:30%;
  padding-left:2%;

}
.loginBox
{
  border: 10px solid red;
  margin-left: 35%;
  margin-top: 0px;
  width: 10rem;
  padding: 5%;
  background-color: yellow;
}
.submitButton
{
  margin-left: 30%;
  font-size: 80% !important;
  font-weight: bold;
}
.pageHeader
{
  margin-top:0%;
  text-align:center;
  margin-left:5%;
}
.header
{
  margin-top: 2px;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  width: 100%;
  margin-bottom:0%;
}

.content
{
  background-color: red;
}

.box
{
  width:15%;
  height:50px;
  border: 2% solid white;
  background-color: white;
  margin: 2%;

}

ul{
  list-style:none; 
  padding-bottom: 2%;
  margin-left:0px;
}
